logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

###
#gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

###
#giter8
lib_managed/
project/boot/
project/build/target/
target/
src_managed/
project/plugins/project/
.idea/
.classpath_nb
.classpath
.project
.settings
*~
.cache